@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
  font-family: 'Whitney';
  src: url('https://constant.myntassets.com/web/assets/fonts/Whitney-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whitney';
  src: url('https://constant.myntassets.com/web/assets/fonts/Whitney-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whitney';
  src: url('https://constant.myntassets.com/web/assets/fonts/Whitney-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whitney';
  src: url('https://constant.myntassets.com/web/assets/fonts/Whitney-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
